@model PartsUnlimited.HRCost.Web.ViewModels.EmployeeViewModel
@{
    ViewData["Title"] = "Employee: " + Model.FirstName + " " + Model.LastName + " (" + Model.Reference + ")";
}

<h1>@ViewData["Title"]</h1>

<form asp-controller="Employee" asp-action="Edit" method="post">
    <h2>Administrative data</h2>
    <div class="form-group">
        <label asp-for="FirstName">First name</label>
        <input type="text" class="form-control" asp-for="FirstName">
        <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="LastName">Last name</label>
        <input type="text" class="form-control" asp-for="LastName">
        <span asp-validation-for="LastName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Reference">Reference</label>
        <input type="text" class="form-control" asp-for="Reference">
        <span asp-validation-for="Reference" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="DateOfBirth">Date Of Birth</label>
        <input class="form-control" asp-for="DateOfBirth">
        <span asp-validation-for="DateOfBirth" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="AddressNumber">House Number</label>
        <input type="text" class="form-control" asp-for="AddressNumber">
        <span asp-validation-for="AddressNumber" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="AddressStreet">Street</label>
        <input type="text" class="form-control" asp-for="AddressStreet">
        <span asp-validation-for="AddressStreet" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="AddressCity">City</label>
        <input type="text" class="form-control" asp-for="AddressCity">
        <span asp-validation-for="AddressCity" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="AddressPostalCode">Postal Code</label>
        <input type="text" class="form-control" asp-for="AddressPostalCode">
        <span asp-validation-for="AddressPostalCode" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="AddressCountry">Country</label>
        <input type="text" class="form-control" asp-for="AddressCountry">
        <span asp-validation-for="AddressCountry" class="text-danger"></span>
    </div>
    <h2>Salary Package</h2>
    <div class="form-group">
        <label asp-for="MonthlyGrossSalary">Gross Monthly Salary</label>
        <input type="text" class="form-control" asp-for="MonthlyGrossSalary">
        <span asp-validation-for="MonthlyGrossSalary" class="text-danger"></span>
    </div>
    <div class="form-check">
        <input type="checkbox" class="form-check-input" asp-for="IsGrantedCar">
        <label class="form-check-label" asp-for="IsGrantedCar">Grant Car</label>
        <span asp-validation-for="IsGrantedCar" class="text-danger"></span>
    </div>
    <h2>Yearly cost</h2>
<table class="table">
    <tr><td>Yearly gross salary:</td><td>@Model.YearlyGrossSalaryCost euros</td></tr>
</table>
    
    <button type="submit" class="btn btn-primary">Save</button>
</form>
