
@{
    ViewData["Title"] = "Home Page";
}

<div style="text-align: center">
    <h1>
        <span style="font-size:larger">Parts Unlimited</span><br/>
        HR Benefits
    </h1>

    <a asp-area="" asp-controller="Employee" asp-action="List"><img src="images/home_picture.jpg" /></a>
</div>